@model ConfigurationModel

@using Nop.Plugin.Misc.FluidApi
@using Nop.Plugin.Misc.FluidApi.Models

@{
    Layout = "_ConfigurePlugin";
}

<link rel="stylesheet" href="~/Plugins/Misc.FluidApi/Content/styles.css" />

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))

<form asp-controller="FluidApi" asp-action="Configure" method="post">
    <nop-cards id="FluidApi-cards">
        <nop-card asp-name="FluidApi-general" asp-icon="fas fa-info" asp-title="@T("Plugins.Misc.FluidApi.General")" asp-hide-block-attribute-name="@FluidApiDefaults.SystemName" asp-hide="false" asp-advanced="false">
            <div class="card-body">
                <div class="card card-default">
                    <div class="card-body">
                        <h4>Activar Api</h4>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AdditionalFeePercentage" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AdditionalFeePercentage" />
                                <span asp-validation-for="AdditionalFeePercentage"></span>
                            </div>
                        </div>
                        @Html.CheckBoxFor(x=>x.enable,new {@class="control-checkbox"})
                        <input asp-for="@Model.enable" type="checkbox" id="enable" name="vehicle1" value="true" checked="@Model.enable">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </nop-card>
    </nop-cards>
</form>